.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer img{
    margin: 0 10px;
    cursor: pointer;
    transition: transform 300ms ease;
}
.footer img:hover{
    transform: scale(1.2);
    filter: brightness(0) saturate(100%) invert(59%) sepia(37%) saturate(5645%) hue-rotate(313deg) brightness(105%) contrast(97%);
}